* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1973B8;
    padding-top: 25px;
}


.sticky-lg-top{
    top: -10px;
    opacity: .9;
}


.menu>.menu_li>.menu_items {
    color:#000000;
    text-transform: uppercase;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
}


/*-----------------------*/


/*inicio*/

#inicio,
#inicio img {
    height: 756px;
    position: relative;
  
}

/*nosotros*/

#nosostros {
    background-color: rgba(25, 115, 184, 0.87);
    height: 630px;
}

#nosostros>h2,
#productos>h2,
#equipo>h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: #012B60;
}

#nosostros>h2 {
    padding-top: 50px;
}

#nosostros>.row {
    margin-top: 45px;
}

.row>.texto>p {
    font-family: 'Lucida Sans';
    text-align: center;
    font-size: 25px;
    color: #ffff;
    margin-top: 45px;
}

#nosostros>.row>.imagen>img {
    height: 350px;
    padding-left: 60px;
}


/*productos*/

#productos {
    height: 700px;
    padding-bottom: 50px;
}

#productos>.carousel_slide>.hola {
    width: 80%;
    margin: 0% auto;
}

#productos>.carousel_slide>.carousel-control-next>.carousel-control-next-icon {
    border-radius: 0px 15px 15px 0px;
}

#productos>.carousel_slide>.carousel-control-prev>.carousel-control-prev-icon {
    border-radius: 15px 0px 0px 15px;
}

#productos>.carousel_slide>.carousel-control-next>.carousel-control-next-icon,
#productos>.carousel_slide>.carousel-control-prev>.carousel-control-prev-icon {
    height: 140px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.5);
}

#productos img {
    height: 556px;
}


/*equipo*/

#equipo {
    background-color: #17C0EB;
    height: 630px;
    width: 100%;
}

#equipo p {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #000;
}

#equipo>.imagenes>.row {
    margin: 5px;
}

#equipo>.imagenes>.row>.img {
    position: relative;
}

#equipo>.imagenes>.row>.img>img {
    width: 100%;
    height: 100%;
}

#equipo>.imagenes>.row>.img>.fondo {
    position: absolute;
    width: 92%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-color: rgb(23, 192, 235, 0.62);
}

#equipo>.imagenes>.row {
    margin-top: 65px;
}

#equipo>.imagenes>.row>.img>.fondo>h2 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 35%;
}



.contacto-form{
    padding: 20px 40px;
    background-color:#E1F2FF;
    border-radius: 10%;
    margin:20px 10px ;
}

.form-button{
    margin-top: 22px;
    width: 80px;
    height: 40px;
    background-color: #FFFDDA;
    border: none;
}

footer{
    background-color: #012B60;
    width: 100%;
    height: 350px;
}

.location-container{
    width: 360px;
    margin:0px auto;
}

.image-location{
    width: 300px;
    height: 300px;
    border:3px solid #FFF876;
    background-color: #eee;
}


.location{
    margin: auto;
    padding: 5px;
}

.location i{
    padding: 5px;
    font-size: 30px;
}

.location-icon{
    margin-right: 16px;
    margin-top: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #bbb;
    padding: 5px 3px;
}


#comentario{
    height: 100px;
}
.footer-style {
    padding-top: 50px;
    background-color: #5d9cdb;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #0a2944;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #16549b;
}
